@import 'base';
// @import '~bootstrap/scss/bootstrap.scss'; //example stylesheet load

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Shinobi styles -- remove before using

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: $color-bg; // vice city background
  color: $color-font;
}

.app {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.core-layout-styles {
  width: 600px;
  height: 400px;
  background-color: #fcfbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(46, 61, 73, 0.16);
}
